# Ignore build output
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio folders
.vs/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vssscc
*.vspscc

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
